body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  background-color: #dee2e6;
  margin-bottom: 20px;
}

header {
  text-align: center;
  background-color: #212529;
  color: #ffffff;
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 13px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 0;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #eddcd2;
  color: white;
}

.present {
  background-color: #cb997e;
  color: white;
}

.future {
  background-color: #a5a58d;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  background-color: #ffffff;
  color: 212529;
  border-top: 1px dashed black;
  font-size: 25px
}

.saveBtn i:hover {
  font-size: 32px;
  transition: all 0.1s ease-in-out;
}